:root {
  --radius: 0.65rem;
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.1% 0.005 285.823deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.1% 0.005 285.823deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.1% 0.005 285.823deg);
  --primary: oklch(64.8% 0.2 131.684deg);
  --primary-foreground: oklch(98.6% 0.031 120.757deg);
  --secondary: oklch(96.7% 0.001 286.375deg);
  --secondary-foreground: oklch(21% 0.006 285.885deg);
  --muted: oklch(96.7% 0.001 286.375deg);
  --muted-foreground: oklch(55.2% 0.016 285.938deg);
  --accent: oklch(96.7% 0.001 286.375deg);
  --accent-foreground: oklch(21% 0.006 285.885deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92% 0.004 286.32deg);
  --input: oklch(92% 0.004 286.32deg);
  --ring: oklch(84.1% 0.238 128.85deg);
  --chart-1: oklch(87.1% 0.15 154.449deg);
  --chart-2: oklch(72.3% 0.219 149.579deg);
  --chart-3: oklch(62.7% 0.194 149.214deg);
  --chart-4: oklch(52.7% 0.154 150.069deg);
  --chart-5: oklch(44.8% 0.119 151.328deg);
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.1% 0.005 285.823deg);
  --sidebar-primary: oklch(64.8% 0.2 131.684deg);
  --sidebar-primary-foreground: oklch(98.6% 0.031 120.757deg);
  --sidebar-accent: oklch(96.7% 0.001 286.375deg);
  --sidebar-accent-foreground: oklch(21% 0.006 285.885deg);
  --sidebar-border: oklch(92% 0.004 286.32deg);
  --sidebar-ring: oklch(84.1% 0.238 128.85deg);
}

.dark {
  --background: oklch(14.1% 0.005 285.823deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(21% 0.006 285.885deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(21% 0.006 285.885deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(64.8% 0.2 131.684deg);
  --primary-foreground: oklch(98.6% 0.031 120.757deg);
  --secondary: oklch(27.4% 0.006 286.033deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(27.4% 0.006 286.033deg);
  --muted-foreground: oklch(70.5% 0.015 286.067deg);
  --accent: oklch(27.4% 0.006 286.033deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(40.5% 0.101 131.063deg);
  --chart-1: oklch(87.1% 0.15 154.449deg);
  --chart-2: oklch(72.3% 0.219 149.579deg);
  --chart-3: oklch(62.7% 0.194 149.214deg);
  --chart-4: oklch(52.7% 0.154 150.069deg);
  --chart-5: oklch(44.8% 0.119 151.328deg);
  --sidebar: oklch(21% 0.006 285.885deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(76.8% 0.233 130.85deg);
  --sidebar-primary-foreground: oklch(98.6% 0.031 120.757deg);
  --sidebar-accent: oklch(27.4% 0.006 286.033deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(40.5% 0.101 131.063deg);
}
