@use '~@/styles' as *;

$primary-color: var(--color-primary);
$primary-color-alpha: #{var(--color-primary)}AA;
$secondary-color: var(--color-secondary);

:root {
  --primary-color: $primary-color;
  --primary-color-alpha: #{$primary-color-alpha};
  --secondary-color: #{$secondary-color};
  --swiper-navigation-color: white;
  --swiper-navigation-size: 24px;

  @media (prefers-color-scheme: dark) {
    $primary-color: $color-yellow-5;
    $primary-color-alpha: #{$primary-color}AA;

    --primary-color: #{$primary-color};
    --primary-color-alpha: #{$primary-color-alpha};
  }
}

// 티스토리 기본 스타일(font.css) 덮어쓰기
body {
  font-feature-settings:
    'case' 1,
    'ss01' 0,
    'ss03' 1;
}

section {
  position: relative;
}

u {
  border-bottom: 0.2em solid var(--primary-color);
}

mark {
  color: inherit;
  background-color: transparent;
  background-image: linear-gradient(to top, var(--primary-color-alpha) 40%, transparent 10%, transparent 50%);
}

hr {
  border: 0.5px solid var(--primary-color-alpha);
}
