@layer reset, theme, base, components, utilities;

@import 'tailwindcss';
@import 'tw-animate-css';

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-primary: var(--color-stone-700);
  --color-secondary: var(--color-slate-400);
  --font-sans:
    'Pretendard',
    'SF Pro KR',
    'SF Pro Text',
    'SF Pro Display',
    'SF Pro Icons',
    'Apple Gothic',
    -apple-system,
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

@layer base {
  body {
    color: theme('colors.neutral.900');
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
