{
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cn", "cva", "cx"],
  "trailingComma": "all",
  "useTabs": false
}
