@use '~@/styles' as *;

#article {
  // 헤더
  h1 {
    counter-reset: heading-2;
    font-size: 40px;
  }

  h2 {
    counter-increment: heading-2;
    counter-reset: heading-3;
    font-size: 36px;

    &::before {
      content: counter(heading-2) '. ';
    }
  }

  h3 {
    counter-increment: heading-3;
    counter-reset: heading-4;
    font-size: 32px;

    &::before {
      content: counter(heading-2) '-' counter(heading-3) '. ';
    }
  }

  h4 {
    counter-increment: heading-4;
    counter-reset: heading-5;
    font-size: 28px;
    line-height: 1.6;

    &::before {
      content: counter(heading-2) '-' counter(heading-3) '-' counter(heading-4) '. ';
    }
  }

  h5 {
    counter-increment: heading-5;
    counter-reset: heading-6;
    font-size: 24px;
    line-height: 1.6;

    &::before {
      content: counter(heading-2) '-' counter(heading-3) '-' counter(heading-4) '-' counter(heading-5) '. ';
    }
  }

  h6 {
    counter-increment: heading-6;
    font-size: 20px;
    line-height: 1.6;

    &::before {
      content: counter(heading-2) '-' counter(heading-3) '-' counter(heading-4) '-' counter(heading-5) '-'
        counter(heading-6) '. ';
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 4.8em;
    margin-bottom: 0.4em;
    font-weight: 700;
    line-height: 1.35;

    // 헤더 바로 뒤에 오는 헤더의 간격을 조정합니다.
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 1.2em;
    }

    &[data-ke-size] {
      font-weight: 700;
    }
  }

  // 문단
  p {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
  }

  u {
    background-image: linear-gradient(to top, var(--primary-color-alpha) 40%, transparent 10%, transparent 50%);
    border-bottom: none;
  }

  a {
    color: var(--primary-color);
    border-bottom: 0.2em solid var(--primary-color);

    @media (hover: hover) {
      &:hover {
        color: color-mix(in srgb, var(--primary-color) 70%, CanvasText 30%);
        border-bottom-color: color-mix(in srgb, var(--primary-color) 70%, CanvasText 30%);
      }
    }
  }

  // 이미지
  img {
    box-shadow: 0 4px 24px -16px var(--secondary-color);
  }

  ol {
    > li {
      list-style: decimal;
    }
  }

  ul {
    > li {
      list-style: disc;
    }
  }

  // 목록
  ol,
  ul {
    margin-top: 1em;
    margin-bottom: 0.6em;
    padding-left: 1em;

    li {
      margin-bottom: 0.4em;
      margin-left: 1.2em;

      &:last-of-type {
        margin-bottom: 0;
      }

      ol,
      ul {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      img {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }

  // 인용문
  blockquote {
    margin: 2em 0;
    padding-left: 1em;

    font-size: 0.96em;
    color: color-mix(in srgb, var(--secondary-color) 40%, CanvasText 30%);

    border-left: 4px solid color-mix(in srgb, var(--secondary-color) 30%, white 30%);

    &[data-ke-style='style1'] {
      font-size: 24px;
      font-style: italic;
      line-height: inherit;
      color: color-mix(in srgb, var(--secondary-color) 60%, CanvasText 40%);
    }

    // 기본 스타일과 동일합니다.
    &[data-ke-style='style2'] {
      font-size: 20px;
      color: color-mix(in srgb, var(--secondary-color) 40%, CanvasText 30%);
    }

    &[data-ke-style='style3'] {
      padding: 24px;

      font-size: 20px;
      line-height: inherit;

      background-color: color-mix(in srgb, var(--secondary-color) 20%, white 30%);
      border-color: color-mix(in srgb, var(--secondary-color) 40%, black 10%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0.4em;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    p {
      line-height: 1.6;
      color: inherit;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    ol,
    /* stylelint-disable-next-line no-descending-specificity */
    ul {
      padding-left: 0;

      /* stylelint-disable-next-line no-descending-specificity */
      li {
        margin-bottom: 0.4em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  // 독립적인 콘텐츠
  figure {
    margin-top: 2em;
    margin-bottom: 2em;

    // 티스토리 오픈 그래프
    &[data-ke-type='opengraph'] {
      a {
        height: 180px;
        border-color: $color-sand-2;
        transition: 200ms;

        @supports (color: color-mix(in srgb, black 50%, white)) {
          border-color: color-mix(in srgb, var(--secondary-color) 40%, CanvasText 10%);
        }

        div.og-text {
          p.og-title {
            font-family: inherit;
            font-size: 20px;
            font-weight: 700;
            line-height: inherit;
          }

          p.og-desc {
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
            color: var(--secondary-color);
          }

          p.og-host {
            font-family: inherit;
            color: var(--primary-color);
            border-bottom: 0.2em solid var(--primary-color);
          }
        }
      }

      @media (width <= 600px) {
        a {
          height: 80px;

          div.og-text {
            p.og-title {
              font-size: 16px;
            }

            p.og-host {
              bottom: 12px;
            }
          }
        }
      }
    }

    // 파일
    &.fileblock {
      width: 600px;
      height: 96px;
      border-color: color-mix(in srgb, var(--secondary-color) 40%, CanvasText 10%);

      a {
        height: initial;
        border-bottom-width: 0;

        &::after {
          top: 30px;
        }

        .image {
          margin: 32px 24px;
        }

        .desc {
          left: 78px;

          .filename {
            margin-top: 24px;
            font-size: 16px;

            .name {
              max-width: initial;
            }
          }

          .size {
            margin-top: 4px;
            font-size: 14px;
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  table {
    overflow-x: auto;
    display: block;
    border-collapse: collapse;

    margin: 1.8em auto;

    font-size: 16px;

    th,
    td {
      max-width: 100vw;

      vertical-align: middle;

      border-color: var(--border);
      border-style: solid;
      border-width: 1px;

      code {
        zoom: 0.9;
        padding: 0 8px;
        background-color: var(--secondary-color);
        border-radius: 4px;
      }

      ol,
      ul {
        margin-top: 0;
        margin-bottom: 0;

        ol,
        ul {
          margin-top: 0.8em;

          /* stylelint-disable-next-line no-descending-specificity */
          li {
            margin-bottom: 0.2em;

            &:last-of-type {
              margin-bottom: 0.2em;
            }
          }
        }
      }
    }

    th {
      padding: 8px 16px;
      font-weight: 700;
      background-color: var(--secondary);
    }

    td {
      padding: 12px 16px;
    }
  }
}
