@use './variable' as variable;

$primary-color: variable.$color-green;
$primary-color-alpha: rgba($primary-color, 0.7);
$secondary-color: variable.$color-gray;

:root {
  --primary-color: #{$primary-color};
  --primary-color-alpha: #{$primary-color-alpha};
  --secondary-color: #{$secondary-color};
  --swiper-navigation-color: white;
  --swiper-navigation-size: 24px;

  @media (prefers-color-scheme: dark) {
    $primary-color: variable.$color-yellow;
    $primary-color-alpha: rgba($primary-color, 0.7);

    --primary-color: #{$primary-color};
    --primary-color-alpha: #{$primary-color-alpha};
  }
}

body {
  font-family:
    Pretendard,
    'SF Pro KR',
    'SF Pro Text',
    'SF Pro Display',
    'SF Pro Icons',
    'Apple Gothic',
    -apple-system,
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 16px;
  font-feature-settings:
    'case' 1,
    'ss01' 1,
    'ss03' 1;
  font-weight: 400;
  -webkit-font-smoothing: auto;
  line-height: 1.5;
  color: CanvasText;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  overflow-wrap: break-word;

  color-scheme: light dark;
  background-color: Canvas;

  -webkit-tap-highlight-color: transparent;
}

button,
textarea {
  font-family: inherit;
}

section {
  position: relative;
}

a,
u {
  text-decoration: none;
}

a {
  transition: 200ms ease;

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

u {
  border-bottom: 0.2em solid var(--primary-color);
}

mark {
  color: inherit;
  background-color: transparent;
  background-image: linear-gradient(to top, var(--primary-color-alpha) 40%, transparent 10%, transparent 50%);
}
